---
import { Image, Picture } from "@astrojs/image/components";
import headerLogo from "./images/logo.png";
import CustomDropdown from "./vue/CustomDropdown.vue";
import NavMenu from "./vue/NavMenu.vue";
import qs from "qs";
import CustomDisclosure from "./vue/CustomDisclosure.vue";
export interface Props {
    currentUrl: string;
}
const query = qs.stringify(
    {
        filters: {
            isParent: {
                $eq: true,
            },
        },
        populate: {
            childrenPages: true,
        },
    },
    {
        encodeValuesOnly: true, // prettify URL
    }
);

const response = await fetch(`${import.meta.env.STRAPI_URL}/pages?${query}`, {
    method: "GET",
    headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + import.meta.env.STRAPI_TOKEN,
    },
});

const { data: topPages, meta }: StrapiResponse<Page> = await response.json();
const { currentUrl } = Astro.props;
---

<div
    class="flex w-full p-4 md:p-3 md:px-8 h-[4.5rem] gap-4 bg-black fixed top-0 z-50 items-center font-bold text-xl border-b rounded-sm"
>
    <NavMenu
        client:media="(max-width: 768px)"
        class="md:hidden transition-all"
    >
        {
            topPages.map(page => {
                return !page.attributes.displayChildren &&
                    page.attributes.childrenPages.data?.length ? (
                    <CustomDisclosure
                        client:media="(max-width: 768px)"
                        page={page}
                        currentUrl={currentUrl}
                    />
                ) : (
                    <a
                        href={`${import.meta.env.BASE_URL}${
                            page.attributes.slug
                        }`}
                        class={
                            currentUrl === `/${page.attributes.slug}`
                                ? "text-gray-500 pointer-events-none"
                                : "hover:text-gray-500"
                        }
                    >
                        {page.attributes.title}
                    </a>
                );
            })
        }
    </NavMenu>
    <Image
        alt="EseiChads"
        src={headerLogo}
        class="object-contain w-auto h-full"
        aspectRatio="1:1"
    />
    <span>ESEIChads</span>
    <nav class="w-full justify-end gap-4 hidden md:flex">
        {
            topPages.map(page => {
                return !page.attributes.displayChildren &&
                    page.attributes.childrenPages.data?.length ? (
                    <CustomDropdown
                        client:media="(min-width: 768px)"
                        page={page}
                        currentUrl={currentUrl}
                    />
                ) : (
                    <a
                        href={`${import.meta.env.BASE_URL}${
                            page.attributes.slug
                        }`}
                        class={
                            currentUrl === `/${page.attributes.slug}`
                                ? "text-gray-500 pointer-events-none"
                                : "hover:text-gray-500"
                        }
                    >
                        {page.attributes.title}
                    </a>
                );
            })
        }
    </nav>
</div>
<style></style>
