---
import "@fontsource/montserrat";
import { ChevronDownIcon } from "@heroicons/vue/24/outline/index.js";
import Header from "../components/Header/index.astro";
import CustomParticles from "./CustomParticles.vue";
export interface Props {
    title: string;
}
interface CustomDataFile {
    default: Record<string, any>;
}

const { title } = Astro.props;
const currentUrl = Astro.url.pathname;
---

<!DOCTYPE html>
<html
    lang="en"
    class="font-chad relative"
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href={`${import.meta.env.BASE_URL}favicon.svg`}
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>ESEIChads - {title}</title>
    </head>
    <body class="h-screen w-screen text-white bg-black">
        <header
            class="w-full h-screen flex flex-col items-center flex-grow-0 flex-shrink basis-auto text-white"
        >
            <Header currentUrl={currentUrl} />
            <div
                class="w-full h-full bg-black flex flex-col items-center justify-center relative"
            >
                <CustomParticles
                    class="w-full h-full absolute z-0"
                    client:load
                />
                <h1
                    id="repulse-div"
                    class="text-5xl font-extrabold basis-auto p-12 z-10 text-center"
                >
                    {title.trim()}
                </h1>
                <button id="skip-to-content">
                    <ChevronDownIcon
                        client:load
                        class="absolute bottom-2 left-0 w-full h-16 z-10 text-white self-center animate-pulse"
                    />
                </button>
                <script>
                    let chevron = document.getElementById("skip-to-content");
                    if (chevron) {
                        chevron.onclick = function () {
                            const element = document.getElementById("content");
                            if (element) {
                                element.scrollIntoView({
                                    behavior: "smooth",
                                });
                            }
                        };
                    }
                </script>
            </div>
        </header>
        <main
            id="content"
            class="w-full flex flex-col items-center bg-black text-white bg-fixed bg-cover bg-center py-36 px-8"
        >
            <slot />
        </main>
        <footer
            class="w-full flex flex-col items-center justify-center bg-black text-white py-6 font-mono text-sm px-8"
        >
            <div class="w-full md:w-2/3 flex flex-col">
                <span class="w-full">
                    © Paulo Sánchez, 2022. Todos los derechos reservados.
                </span>
                <span><br /></span>

                <span class="w-full"
                    >Esta web y todo su contenido es propiedad exclusiva
                    reservada a los responsables de la misma y a las
                    correspondientes figuras mencionadas. No existe ninguna
                    relación legal intencionada entre el contenido aquí expuesto
                    y el organismo oficial de la ESEI y/o derivados (ESEIDA).
                </span>
                <span><br /></span>
                <span class="w-full">
                    Para cualquier queja o reclamación sobre el contenido de
                    esta plataforma, diríjase al apartado de contacto para poder
                    comunicársela a los responsables.
                </span>
            </div>
        </footer>

        <style is:global>
            :root {
                --accent: 124, 58, 237;
                --accent-gradient: linear-gradient(
                    45deg,
                    rgb(var(--accent)),
                    #da62c4 30%,
                    white 60%
                );
            }
            a {
            }
        </style>
    </body>
</html>
